{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": "standard",
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
